<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404</title>
    <link rel="shortcut" th:href="@{/icon/java.svg}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div th:replace="header::html"></div>
<div class="container" style="text-align: center;float: none;">
    <img class="rounded" th:src="@{/icon/404.svg}"/>
</div>
<div th:replace="footer::html"></div>
<script>
    if(!$("#footer").hasClass("fixed-bottom")){
        $("#footer").addClass("fixed-bottom");
    }
    if($("#footer").hasClass("sticky-bottom")){
        $("#footer").removeClass("sticky-bottom");
    }
</script>
<script th:src="@{/myjs/header.js}"></script>
<script>
    readUserInfo();
</script>
</body>
</html>