<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-dark bg-dark sticky-bottom justify-content-center" id="footer">
    <a class="navbar-brand" href="https://github.com/hTangle">
        <img src="/icon/GitHub.svg" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="https://blog.csdn.net/u014683187">
        <img src="/icon/csdn.svg" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand text-muted" href="/" >
        <img src="/icon/police.svg" width="30" height="30" alt="">冀ICP备16001067号
    </a>
</nav>
</body>
</html>