<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NeverGetMe</title>
    <link rel="shortcut" th:href="@{/icon/java.svg}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script th:src="@{js/popper.min.js}"></script>
</head>
<body>
<!--style="background-color: #343a40"-->
<div th:replace="header::html"></div>

<div class="container" id="MainBodyShow" style="margin-top: 10px">
    <div class="container">
        <div class="container" id="articleTables">
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" id="pageInfoNav">
    </ul>
</nav>
<div th:replace="footer::html"></div>
<script th:src="@{/js/articleList.js}"></script>
<script>

    var currentPage = 1;
    readCurrentPage(1);

    //updateArticle(pageInfos);
    function readCurrentPage(newPage) {
        $.post("/article/getArticleList",
            {
                pageNum: newPage,
                pageSize: 10
            },
            function (data, status) {
                if (data && status == 'success') {
                    updateArticle(data);
                    updateArticleList(data.list);
                    updateFooter(data.size);
                    $(function () {
                        $("#MainBodyShow img").click(function () {
                            showImage($(this)[0].src)
                        })
                    });
                }
                console.log(status);
            });
        currentPage = newPage;
    }
</script>
<script th:src="@{/js/header.js}"></script>
<script>
    readUserInfo();
</script>
</body>
</html>