<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NeverGetMe</title>
    <link rel="shortcut" th:href="@{/icon/java.svg}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script th:src="@{/js/popper.min.js}"></script>
</head>
<body>
<div th:replace="header::html"></div>
<div class="container mt-3" style="margin-top: 10px">
    <div class="row">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                   href="#list-home" role="tab" aria-controls="home">个人资料</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   href="#list-messages" role="tab" aria-controls="messages">我的消息</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <div class="media">
                        <img src="" class="align-self-start" alt="" id="MyCover">
                        <div class="media-body">
                            <form>
                                <div class="form-group">
                                    <label for="MyEmail">Email</label>
                                    <input type="email" class="form-control" id="MyEmail" placeholder="Email" readonly>
                                    <div class="invalid-feedback">
                                        请输入正确的Email,不要使用被别人注册过的email
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="MyUserName">Username</label>
                                    <input type="text" class="form-control" id="MyUserName" readonly>
                                    <div class="invalid-feedback">
                                        用户名长度小于10
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="MyUserName">telephone</label>
                                    <input type="text" class="form-control" id="MyTelephone" readonly>
                                    <div class="invalid-feedback">
                                        输入正确的号码
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer::html"></div>
<script th:src="@{/myjs/header.js}"></script>
<script th:src="@{/myjs/addsvg.js}"></script>
<script th:src="@{/myjs/websocket.js}"></script>

<script th:inline="javascript">
    var userID=[[${userId}]];
</script>
<script>
    readUserInfo();
    function setUserInfo(data){
        $("#MyCover").attr('src',data.image);
        $("#MyEmail").attr('value',data.email);
        $("#MyUserName").attr('value',data.username);
        if(data.telephone)
            $("#MyTelephone").attr('value',data.telephone);
    }
    $(document).ready(function () {
        if(userID){
            $.post("/user/getUserInfoById",{
                userId:userID
            },function (data,status) {
                if(data.id)
                    setUserInfo(data);
            });
        }else{
            $.post("/getCurrentUser",{},function (data,status) {
                if(data.id){
                    setUserInfo(data);
                }
            });
        }
        let websocket=initWebSocket();

    });
</script>
</body>
</html>