<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="shortcut icon" th:href="@{/icon/java.svg}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/plug/editor.md-master/css/editormd.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/plug/editor.md-master/lib/marked.min.js}"></script>
    <script th:src="@{/plug/editor.md-master/lib/prettify.min.js}"></script>
    <script th:src="@{/plug/editor.md-master/lib/raphael.min.js}"></script>
    <script th:src="@{/plug/editor.md-master/lib/underscore.min.js}"></script>
    <script th:src="@{/plug/editor.md-master/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/plug/editor.md-master/lib/flowchart.min.js}"></script>
    <script th:src="@{/plug/editor.md-master/editormd.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/addsvg.js}"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div th:replace="header::html"></div>
<div class="container" style="margin-top: 10px;margin-bottom: 10px">
    <div class="card" id="articleCard">
        <div class="card-header">
            <h1 id="articleTitle"></h1>
            <p class="card-text"><small class="text-muted" id="articleSvg"></small></p>
        </div>
        <div class="card-body">
            <div id="layout" class="editor">
                <div id="test-editormd">
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer::html"></div>
<script th:inline="javascript">
    var articleID=[[${articleID}]];
</script>
<script th:src="@{/js/header.js}"></script>
<script>
    $("#articleCard").hide();
    $(document).ready(function (){
        $.post("/article/getArticle",
            {
                articleId:articleID
            },
            function (data, status) {
                if (data && status == 'success') {
                    $("#articleTitle").text(data.title);
                    $(document).attr("title",data.title);
                    var testEditor = editormd.markdownToHTML("test-editormd", {
                        markdown:data.content ,
                        htmlDecode: "style,script,iframe",  // you can filter tags decode
                    });
                    $("#articleCard").show();
                    $("#articleSvg").append(addUser(data.author.username)+addDate(data.publishDate)+addLikes(data.likes));
                }else{
                    window.location.href="/404";
                }
            });

    });
    readUserInfo();
</script>
</body>
</html>