<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nevergetme.nevergetmeweb.mapper.ArticleMapper">
    <select id="getAllArticle" resultType="com.nevergetme.nevergetmeweb.bean.Article">
        select * from article
    </select>
        <select id="getUserArticle" parameterType="java.lang.Integer" resultType="com.nevergetme.nevergetmeweb.bean.Article">
            select * from article where userid=#{userid}
        </select>
        <select id="getArticleById" parameterType="java.lang.Integer" resultType="com.nevergetme.nevergetmeweb.bean.Article">
            select * from article where id=#{id}
        </select>
</mapper>